@model IEnumerable<NewsWebPage.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminSite.cshtml";
}

<br />
<br />

<div class="row">
    <div class="col-12">
        <h2 style="text-align:center"> Danh sách danh mục</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-9"></div>
        <div class="col-6">
            <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp; Thêm danh mục</a>
        </div>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Alias)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Alias)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>

        }
    </table>
</div>