@model NewsWebPage.Models.ViewModel.PostViewModel
@using NewsWebPage.Extensions
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminSite.cshtml";
}

<header>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }

        .box {
            width: 900px;
        }

            .box.large {
                height: 300px;
            }

            .box.small {
                height: 100px;
            }
    </style>
</header>

<br />
<h2 class="text-info">Chi tiết bài viết</h2>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Post.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Post.Name" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label for="Vendors">Tác giả</label>
            </div>
            <div class="col-8">
                <input asp-for="Post.Author" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label for="Categories">Danh mục</label>
            </div>
            <div class="col-8">
                <input asp-for="Post.Category.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label for="ProductTypes">Nội dung</label>
            </div>
            <div class="col-8 box">
                @Html.Raw(@Model.Post.Content)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label for="SpecialTags">Tên nhãn</label>
            </div>
            <div class="col-8">
                <input asp-for="Post.SpecialTags.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label for="SpecialTags">Mô tả</label>
            </div>
            <div class="col-8 ">
                <input asp-for="Post.Description" readonly class="form-control" />
            </div>
        </div>
    </div>

    <div class="col-4">
        <img src="@Model.Post.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
    </div>

    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Post.Id">Cập nhật</a>
        <a asp-action="Index" class="btn btn-success">Trở về</a>
    </div>
    <script src="~/js/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#content'), {
                fontFamily: {
                    options: [
                        'default',
                        'Ubuntu, Arial, sans-serif',
                        'Ubuntu Mono, Courier New, Courier, monospace'
                    ]
                },
                toolbar: [
                    'heading', 'bulletedList', 'numberedList', 'fontFamily', 'undo', 'redo'
                ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
</div>